# vi: ft=yaml
# Openerm spool file load config file
#

load: 
    #  
    #  Definición del archivo de input
    #
    file:
        encoding: cp500             # Codificación del archivo de entrada
        record-length: 256          # Longitud del registro
        file-type: fixed            # Tipo de input fixed, fcfc
        buffer-size: 102400         # Tamaño del buffer de lectura

    # 
    # Definiciones del proceso
    #
    process:
        EOP: NEVADO                 # Caracter o String que define el salto de página
        report-cfg: ./reports.cfg   # Archivo de definición de los reportes
    
    #
    # Definiciones de la salida
    #
    output:
        file-mask: database
        output-path: default
        compress-type: 10
        compress-level: 1
        cipher-type: 0
        pages-in-group: 10

paths:
    default: d:/pm/Data/git.repo/openerm.git/out
    vol1: d:/pm/Data/git.repo/openerm.git/out/ejemplo
